.books-cover-box{float:left; width: 20%}

.books-data-box{float:left; padding-left: 20px;}

.books-data-box .label {font-variant:small-caps;font-size: 110%;}
.books-data-box .data {font-size: 120%;}


